// Always shows a header, even in smaller screens.
.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.mdl-layout__header
    .mdl-layout__header-row

      // Title
      span.mdl-layout-title Jacques
      img(id="brand", src="../img/jacques.png")
      // Add spacer, to align navigation to the right
      .mdl-layout-spacer

      // Navigation. We hide it in small screens.
      nav.mdl-navigation.mdl-layout--large-screen-only
        a.mdl-navigation__link(href='') Source
  .mdl-layout__drawer
    span.mdl-layout-title Jacques
    nav.mdl-navigation
      a.mdl-navigation__link(href='') Source
