
.page-content {
  margin-top: 10.0vh;
  margin-left: 5.0vh;
}

#brand {
  margin-left: 32px;
  max-height: 90%
}

body {
  background: #fafafa;
}

.test {
  text-align: center;
  vertical-align: middle;
}
