<div layout="column">
    <h3 class="md-subhead">Please select the Discord server whose sounds you wish to view.</h3>
    <md-input-container>
        <label><md-icon class="icon-gray" md-svg-icon="search"></md-icon> Guild name</label>
        <input ng-model="guildSearchQuery"/>
    </md-input-container>

    <md-list>
        <md-list-item class="sounds-list-item border-bottom-list-item"
                      ng-repeat="guild in (filteredGuilds = ($ctrl.guilds | filter: {discord_name: guildSearchQuery}) | orderBy: 'discord_name')">

            <md-button class="sounds-list-item-button"
                       ui-sref="soundsByGuild({ guildId: guild.discord_id })"
                       aria-label="guild.discord_name"
                       ng-click="updateSelected(sound)">
                    <span class="sounds-list-item-button-text">
                        <md-icon class="guild-list-item-icon" md-svg-icon="discord"></md-icon>{{guild.discord_name}}
                    </span>
            </md-button>
        </md-list-item>
    </md-list>
    <scroll-to-top></scroll-to-top>
</div>