link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='https://code.getmdl.io/1.3.0/material.blue_grey-orange.min.css', rel='stylesheet')
link(href='css/styles.css', rel='stylesheet')
script(defer, src="https://code.getmdl.io/1.3.0/material.min.js")

html
	head
		title Jacques
	body
		include partial/nav
		main.mdl-layout__content
			div.page-content
				ul.mdl-list
					each sound in sounds
						li.mdl-list_item
							span.mdl-list__item-primary-content
								i.test.material-icons.mdl-list__item-icon volume_up
							span #{sound.name}
