<div id="sound-list-floater">
    <div ng-hide="username === undefined && guildName === undefined" id="sound-list-user-header">
        <span ng-hide="username === undefined" md-truncate id="sound-list-user-name" class="md-body-1" ng-bind="username"></span><br />
        <span ng-hide="getGuildDescriptor() === undefined" md-truncate id="sound-list-user-guild" class="md-body-2" ng-bind="getGuildDescriptor()"></span><br />
    </div>
    
    <md-input-container id="sound-search-input-container" class="md-block">
        <label>Search</label>
        <input ng-model="soundSearchQuery" />
    </md-input-container>
</div>
<md-content>
    <md-list>
        <md-list-item class="sound-list-item border-bottom-list-item" ng-repeat="sound in (filteredSounds = (getSounds() | filter: {name: soundSearchQuery}))">
            <md-button class="sound-list-item-button" aria-label="sound.name" ng-click="updateSelected(sound)">
                <span class="sound-list-item-button-text" ng-bind="sound.cleanedName"></span>
            </md-button>
        </md-list-item>
    </md-list>
</md-content>