[ng-cloak] {
    display: none;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h1 {
    margin: auto;
}

#toolbar-icon {
    max-width: 85%;
    max-height: 85%;
    margin-right: 20px;
}

#toolbar-title {
    margin-left: -8px;
}

#toolbar-tools {
    padding-right: 8px;
}


/* Sidenav area */

md-sidenav md-list {
    padding-top: 0px;
    flex: 1;
    flex-direction: column;
}

.sound-list-item {
    padding: 0px !important; 
    margin: 0px; 
    align-items: stretch;
}

.sound-list-item-button {
    padding: 0px; 
    margin: 0px;

    color: inherit;
    font-weight: normal;
    text-align: left;
    width: 100%;
}

.sound-list-item-button-text {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: none;
}

md-sidenav md-list .md-button.selected {
    color: #03a9f4;
}

sound-list {
    display: flex;
    flex-direction: column;
}

#sound-list-floater {
    flex: 1;
    flex-direction: column;
    padding-bottom: 1vh;
    border-bottom: 1px solid #CCCCCC;
}

#sound-search-input-container {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0px;
}

#sound-list-user-header {
    padding: 4px;
    margin: 16px;
}

.border-bottom-list-item {
    border-bottom: 1px solid #EEEEEE;
}

/* Primary content area */

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    overflow-y: scroll
}

#sound-audio {
    width: 100%;
    max-width: 500px;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: -12px;
}

#sound-title {
    margin-top: 8px;
    margin-bottom: 0px;
}

.sound-chart-title {
    margin: 0px;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 2px;
}

#sound-category-subtitle {
    margin-top: 8px;
    margin-bottom: 0px;
}

#sound-summary-card-content {
    background-color: white;
}

#sound-most-played-by-card {
    padding-right: 16px;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

.dialog-icon {
    margin-right: 8px;
}

md-icon svg {
    fill: inherit;
    color: #FFFFFF;
}

.help-dialog-title {
    margin-top: 24px;
    border-bottom: 1px solid #CCCCCC;
}

.md-bottom.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}