html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-content {
    height: 100%;
    padding: 16px 30px 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*
 * Toolbar
 */
.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h1 {
    margin: auto;
}

#toolbar-title {
    margin-left: 8px;
}

#toolbar-tools {
    padding-right: 8px;
}

/*
 * Sidenav
 */

md-sidenav {
    max-width: 325px;
}

md-sidenav md-list {
    padding-top: 0;
    flex: 1;
    flex-direction: column;
}

#sidenav-icon {
    margin-top: 8px;
    max-height: 100px;
    max-width: 100px;
}

#sidenav-title {
    margin-top: 0;
    margin-bottom: 32px;
}

#sidenav-header {
    text-align: center;
}

.sidenav-item {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    margin-top: 0;
}

#sidenav-hidden-swipe-to-open-column {
    position: absolute;
    width: 25px;
    height: 100%;
    z-index: 1
}

#user-card {
    background-color: #FAFAFA;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

#user-card-icon-column {
    margin-right: 16px;
}

#user-card-icon {
    fill: #FF5722;
}

/*
 * Home
 */

#home-wrapper {
    max-width: 864px;
}

#home-mongo-logo {
    width: 221px;
    height: 60px;
}

#home-express-logo {
    width: 213px;
    height: 47px;
}

#home-angular-logo {
    width: 160px;
    height: 160px;
}

#home-node-logo {
    width: 205px;
    height: 125px;
}

#home-chartjs-logo {
    width: 114px;
    height: 114px;
}

#home-discordjs-logo {
    width: 200px;
    height: 069px;
}

#home-material-logo {
    width: 144px;
    height: 140px;
}

#home-mongoose-logo {
    width: 205px;
    height: 56px;
}

#home-karma-logo {
    width: 143px;
    height: 143px;
}

/*
 * Guild list
 */

.guild-list-item-icon {
    fill: #7289DA;
    margin-right: 8px;
}

/*
 * Sounds by guild
 */

#sounds-by-guild-title {
    margin-top: 4px;
    margin-bottom: 0;
}

#sounds-by-guild-quick-summary {
    margin-top: 4px;
    margin-bottom: 8px;
}

.border-bottom-list-item {
    border-bottom: 1px solid #EEEEEE;
}

.sounds-list-item {
    padding: 0 !important;
    margin: 0;
    align-items: stretch;
}

.sounds-list-item-button {
    padding: 8px;
    margin: 0;

    color: inherit;
    font-weight: normal;
    text-align: left;
    width: 100%;
}

.sounds-list-item-button-text-name {
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: none;
}

.sounds-list-item-button-text-plays {
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: none;
    color: gray;
}

#sound-search-input-container {
    margin-right: 18px;
}

#sound-search-icon {
    margin-top: -.5px;
}

#sounds-by-guild-sort-selection {
    padding-bottom: 16px;
}

#fab-scroll-to-top {
    position: fixed;
    visibility: hidden;
}

/* Sound Detail */

#sound-audio {
    width: 100%;
    max-width: 500px;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: -12px;
}

#sound-title {
    margin-top: 12px;
    margin-bottom: 0;
}

#sound-detail-guild-button {
    margin-left: -8px;
    margin-bottom: 0;
}

#sound-detail-navigate-up-icon {
    fill: gray;
}

#sound-detail-delete-button {
    margin-top: 2px;
}

.sound-chart-title {
    margin: 0;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 2px;
}

#sound-most-played-by-card {
    padding-right: 16px;
}

/*
 * Upload
 */

#sound-upload-form-errors {
    color: red;
}

.input-container-no-bottom-margin {
    margin-bottom: -12px;
}

/*
 * Help
 */

.help-section-title {
    margin-bottom: 0;
}

.help-section-body {
    margin-bottom: 16px;
}

/*
 * Misc
 */

[ng-click],
[data-ng-click],
[x-ng-click],
[ui-sref] {
    cursor: pointer;
}

.prevent-all-caps {
    text-transform: none;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

.dialog-icon {
    margin-right: 8px;
}

md-icon svg {
    fill: inherit;
    color: #FFFFFF;
}

.icon-gray {
    fill: gray;
}

.md-bottom.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}