[ng-cloak] {
    display: none;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h1 {
    margin: auto;
}

#sidenav-icon {
    margin-top: 8px;
    max-height: 100px;
    max-width: 100px;
}

#sidenav-title {
    margin-top: 0px;
    margin-bottom: 32px;
}

#sidenav-header {
    margin: 0 auto;
}

#sidenav-scroll-content {

}

#sidenav-signature {
    padding: 8px;
    margin: 0 auto;
}

.sidenav-item {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 4px;
    padding-bottom: 4px;
}

#sidenav-left {

}

#sidenav-hidden-swipe-to-open-column {
    position: absolute;
    width: 55px;
    height: 100%;
    z-index:1
}

#toolbar-title {
    margin-left: 8px;
}

#toolbar-tools {
    padding-right: 8px;
}

/* Sidenav area */

md-sidenav {
    max-width: 325px;
}

#sounds-guild-select {

}

md-sidenav md-list {
    padding-top: 0px;
    flex: 1;
    flex-direction: column;
}

#sounds-by-guild-title {
    margin-bottom: 0;
}

md-sidenav md-list .md-button.selected {
    color: #03a9f4;
}

#sound-search-input-container {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0px;
}

#user-card {
    background-color: #FAFAFA;
}

#user-card-icon-column {
    margin-right: 16px;
}

#user-card-details-column {

}

#user-card-details-username {

}

#user-card-details-guild {

}

#user-card-icon {
    fill: #FF5722;
}

.icon-gray {
    fill: gray;
}

.border-bottom-list-item {
    border-bottom: 1px solid #EEEEEE;
}

.guild-list-item-icon {
    fill: #7289DA;
    margin-right: 8px;
}

.sounds-list-item {
    padding: 0 !important;
    margin: 0;
    align-items: stretch;
}

.sounds-list-item-button {
    padding: 8px;
    margin: 0;

    color: inherit;
    font-weight: normal;
    text-align: left;
    width: 100%;
}

.sounds-list-item-button-text {
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: none;
}

/* Primary content area */

#fab-scroll-to-top {
    position: fixed;
    visibility: hidden;
}

#main-content {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Sound Overview */
#home-wrapper {
    max-width: 864px;
}

/* Sound Detail */

#sound-detail-wrapper {

}

#sound-audio {
    width: 100%;
    max-width: 500px;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: -12px;
}

#sound-title {
    margin-top: 12px;
    margin-bottom: 0px;
}

#sound-detail-guild-button {
    margin-left: -8px;
    margin-bottom: 0;
}

#sound-detail-navigate-up-icon {
    fill: gray;
}

.sound-chart-title {
    margin: 0px;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 2px;
}

#sound-category-subtitle {
    margin-top: 8px;
    margin-bottom: 0px;
}

#sound-summary-card-content {
    background-color: white;
}

#sound-most-played-by-card {
    padding-right: 16px;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

.dialog-icon {
    margin-right: 8px;
}

md-icon svg {
    fill: inherit;
    color: #FFFFFF;
}

.help-dialog-title {
    margin-top: 24px;
    border-bottom: 1px solid #CCCCCC;
}

#sound-upload-form-errors {
    color: red;
}

.md-bottom.md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.input-container-no-bottom-margin {
    margin-bottom: -12px;
}

[ng-click],
[data-ng-click],
[x-ng-click],
[ui-sref]{
    cursor: pointer;
}