[ng-cloak] {
    display: none;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h1 {
    margin: auto;
}

#toolbarIcon {
    max-width: 85%;
    max-height: 85%;
    margin-right: 20px;
}


/* Sidenav area */

md-sidenav {
    
}

md-sidenav md-list {
    padding-top: 0px !important;
    flex: 1;
    flex-direction: column;
}

.sound-list-item {
    padding: 0px !important; 
    margin: 0px !important; 
    align-items: stretch !important;
}

.sound-list-item-button {
    padding: 0px !important; 
    margin: 0px !important;

    color: inherit;
    font-weight: normal;
    text-align: left;
    width: 100%;
}

.sound-list-item-button-text {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: none;
}

md-sidenav md-list .md-button.selected {
    color: #03a9f4;
}

sound-list {
    display: flex;
    flex-direction: column;
}

#sound-list-floater {
    flex: 1;
    flex-direction: column;
    padding-bottom: 1vh;
    border-bottom: 1px solid #CCCCCC;
}

#sound-search-input-container {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0px;
}

#sound-list-category-dropdown-container {
    margin-left: 16px;
    margin-right: 16px;
    display: inline
}

#sound-list-category-label {

}

#sound-list-category-dropdown {
    min-width: 65%;
    margin-left: 1vh;
}

.border-bottom-list-item {
    border-bottom: 1px solid #EEEEEE;
}


/* Primary content area */

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

#content .md-button.share > md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

md-button.menuBtn > md-icon {
    fill: white;
    width: 24px;
    height: 24px;
}

#content .md-button.share:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

#sound-audio {
    width: 100%;
    max-width: 500px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#sound-title {
    margin-top: 8px;
    margin-bottom: 0px;
}

.sound-chart-title {
    margin: 0px !important;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 2px;
}

#sound-category-subtitle {
    margin-top: 8px;
    margin-bottom: 0px;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

#help-dialog-icon {
    margin-right: 8px;
}

md-icon svg {
    fill: inherit;
}

#help-close-icon {
    fill: white;
}

.help-dialog-title {
    margin-top: 24px;
    border-bottom: 1px solid #CCCCCC;
}


/* Utils */

.content-wrapper {
    position: relative;
}


/* Typography support coming in 0.8.0 */

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

.inputdemoErrorsAdvanced .hint.ng-hide,
.inputdemoErrorsAdvanced .hint.ng-enter,
.inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.inputdemoErrorsAdvanced .hint.ng-leave,
.inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

.sound-dialog {
    width: 50%;
}
