<!doctype html>
<html ng-app="jacquesApp">

<head>
    <base href="./">
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <title>Jacques</title>
    <link rel="icon" type="image/png" href="assets/img/jacques_icon_bird2.png">
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()" aria-label="Show Sound List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <img id="toolbarIcon" src="assets/img/jacques_icon.png" />
        <h1>Jacques</h1>

        <span flex></span>
        <a target="_blank" ng-click="app.showHelp()">
            <md-button class="md-icon-button" aria-label="Help">
                <md-icon md-svg-icon="help">
                </md-icon>
            </md-button>
        </a>
        <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=280071400583331840&scope=bot&permissions=3243008">
            <md-button class="md-icon-button" aria-label="Invite">
                <md-icon md-svg-icon="invite">
                </md-icon>
            </md-button>
        </a>
        <a target="_blank" href="https://github.com/scb5304/jacques">
            <md-button class="md-icon-button" aria-label="Github">
                <md-icon md-svg-icon="github">
                </md-icon>
            </md-button>
        </a>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">
            <sound-list></sound-list>
        </md-sidenav>
        <md-content flex id="content">
            <sound-detail></sound-detail>
        </md-content>
    </div>
    <script src="../node_modules/moment/moment.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/angular-messages/angular-messages.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.js"></script>
    <script src="../node_modules/angular-chart.js/dist/angular-chart.js"></script>
    <script src="app.module.js"></script>
    <script src="app.config.js"></script>
    <script src="app.controller.js"></script>
    <script src="sound-list/sound-list.module.js"></script>
    <script src="sound-list/sound-list.component.js"></script>
    <script src="sound-detail/sound-detail.module.js"></script>
    <script src="sound-detail/sound-detail.config.js"></script>
    <script src="sound-detail/sound-detail.component.js"></script>
    <script src="sound-detail/service/sound-detail-charts-helper.service.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-97645825-1', 'auto');
    ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="app.css">
</body>

</html>
